body {
	margin: 0;
	font-family: Helvetica ;
	background-image: url(../media/img1.png) ;
	font-family: sans-serif;
	color: rgb(6, 83, 70);

}

:logo {
	height:auto;
	width: auto;
	opacity: 0.1;
}

:container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
